.main{
  background-color: black;
  height:100%;
  width: 100%;
  overflow: hidden;
}
.section2{
  height: 700px;
  width: 100%;
}
.svg{
  opacity: 1;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transform: translate3d(0px, 0px, 0px);
  filter: brightness(0) invert(100%);
  margin: 5px;
}
.img{
  background-color: #262626;
  border-radius: 50%;
  position: fixed;
  width: 35px;
  height: 35px;
  color: white;
  margin: 32px;
}
.btn{
  height:6%;
  width:8%;
  border-radius: 12px;;
  align-items: end;
  margin-left: 90%;
  overflow: hidden;
  margin-top: 2.5%;
  outline: none;
  position: fixed;
}
.btn:hover {
  background-color: #8B8ECC;
}
.text_visible{visibility: hidden}
.button{
  width: 100%
}
.btn:hover h3:nth-child(1){
  transform: translateY(-100%);
  opacity: 1;
}
@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

h3 {
  margin: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  animation: slideIn 0.5s ease-in-out;
}
